body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: grey;
}
.btns{
    margin: 20px;
    text-align: center;
}
#circle{
    width: 150px;
    height: 150px;
    border: 3px solid black;
    border-radius:150px;
    margin: 20px;
    transition: background-color 0.5s ease-in-out;
    background-color: rgb(255, 255, 255);
}
#btngreen{
    border: 3px solid black;
    border-radius: 5px;
    background-color: #5d9e58;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
#btnred{
    border:  3px solid black;
    border-radius: 5px;
    background-color: #b34e4e;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}